/*
1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное
*/

/* Fonts - start 

/* Fonts - end */

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    color: #212529;

    background-color: white;
}

/* Global style - start*/


/* Global style - end */

/* header - start */

.main-header {
    margin-bottom: 32px;
}

.container-title {
    margin-left: 2rem;
}

.title-text {
    max-width: 635px;
}

.card {
    margin-bottom: 32px;
}

@media screen and (max-width: 420px) {
    .title {
        font-size: 2.5rem;
    }
}


/* header - end */

/* main - start */

.main-table {
    overflow: auto;
    margin: 1rem;
}

.container-main {
    margin-left: 1rem;
}


/* main - end */

/* footer - start */
.main-footer {
    min-height: 50px;
}

.main-footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;

    font-size: 16px;
    line-height: 19px;
    color: #6C757D;
}

/* footer - end */